<footer class="usa-footer site-footer" role="contentinfo">
    <div class="usa-footer__primary-section">
  <nav
    id="menu-navigation"
    aria-label="Menu navigation"
    role="navigation"
    class="usa-nav"
  >
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        {% image "./node_modules/@uswds/uswds/dist/img/usa-icons/close.svg" "close" %}
      </button>
      <ul class="usa-nav__primary usa-accordion">
        {% for nav_item in primary_navigation %}
          {% unless nav_item.children %}
        {% assign basedir = page.url | remove_first: '/' | split: '/' | first |
        lstrip %} {% assign linkdir = nav_item.url | replace: "/", "" | lstrip
        %}
        <li class="usa-nav__primary-item">
          <a
            class="usa-nav__link{% if basedir == linkdir %} usa-current{% endif %}"
            href="{{ nav_item.url }}"
            ><span>{{ nav_item.name | escape }}</span></a
          >
        </li>
        {% else %} {% assign nav_id = 'primary-nav-' | append: forloop.index %}
        <li class="usa-nav__primary-item">
          <button
            class="usa-accordion__button usa-nav__link"
            aria-expanded="false"
            aria-controls="{{ nav_id }}"
          >
            <span>{{ nav_item.name | escape }}</span>
          </button>
          <ul id="{{ nav_id }}" class="usa-nav__submenu">
            {% for subnav_item in nav_item.children %}
            <li class="usa-nav__submenu-item">
              <a href="{{ subnav_item.url  }}"
                >{{ subnav_item.name | escape }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endunless %} {% endfor %}
      </ul>
    </div>
  </nav>
    </div>
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div
            class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2"
          >
            <div class="mobile-lg:grid-col-auto">
              <img
                class="usa-footer__logo-img"
                src="/assets/img/logo-img.png"
                alt=""
              />
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading">Lakeraven © 2025</p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
<!--
              <div class="grid-col-auto">
                <a class="usa-social-link" href="javascript:void(0);"
                  ><img
                    class="usa-social-link__icon"
                    src="/assets/img/usa-icons/facebook.svg"
                    alt="Facebook"
                /></a>
              </div>
              <div class="grid-col-auto">
                <a class="usa-social-link" href="javascript:void(0);"
                  ><img
                    class="usa-social-link__icon"
                    src="/assets/img/usa-icons/twitter.svg"
                    alt="Twitter"
                /></a>
              </div>
              <div class="grid-col-auto">
                <a class="usa-social-link" href="javascript:void(0);"
                  ><img
                    class="usa-social-link__icon"
                    src="/assets/img/usa-icons/youtube.svg"
                    alt="YouTube"
                /></a>
              </div>
              <div class="grid-col-auto">
                <a class="usa-social-link" href="javascript:void(0);"
                  ><img
                    class="usa-social-link__icon"
                    src="/assets/img/usa-icons/instagram.svg"
                    alt="Instagram"
                /></a>
              </div>
              <div class="grid-col-auto">
                <a class="usa-social-link" href="javascript:void(0);"
                  ><img
                    class="usa-social-link__icon"
                    src="/assets/img/usa-icons/rss_feed.svg"
                    alt="RSS"
                /></a>
              </div>
            </div>
-->
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto">
<!--
                  <a href="tel:1-800-555-5555">&lt;(800) 555-GOVT&gt;</a>
-->
                </div>
                <div class="grid-col-auto">
                  <a href="mailto:info@agency.gov">info@lakeraven.com</a>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
</footer>
