{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">Digital Services with Purpose
      </h1>
      <p>We help governments build accessible, modern public services—driven by people, powered by experience.</p>
      <a class="usa-button" href="/services/">Explore our work</a>
    </div>
  </div>
</section>
