{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./_img/uploads/clip.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Digital Services Consulting</h3>
          <p>
           Strategy, delivery, and modernization—tailored for public impact.
We help agencies plan, build, and scale digital services using modern, proven methods rooted in agile and user-centered design.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./_img/uploads/shield.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Accessibility Assessments & Remediation</h3>
          <p>
            ADA compliance made clear and actionable.
We audit, test, and remediate digital services to meet Section 508 and WCAG 2.2 AA standards—while building internal capacity along the way.
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./_img/uploads/sprocket.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Custom Application Development
          </h3>
          <p>
            From legacy replacement to new greenfield builds.
Our engineering team delivers modular, maintainable, and secure software—always aligned with the U.S. Digital Services Playbook.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./_img/uploads/lightbulb.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Product & UX Strategy
          </h3>
          <p>
            Start with needs. End with impact.
We lead product thinking grounded in real user needs, inclusive research, and iterative development.
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./_img/uploads/feather.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Tribal Digital Services
          </h3>
          <p>
           Built by and for tribal nations.
We offer off-the-shelf and custom products for tribal enrollment, PRC tracking, and other community-specific needs.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./_img/uploads/school.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Capacity Building & Enablement
          </h3>
          <p>
            Your team, made stronger.
Through embedded coaching, design systems, and training, we help your internal teams adopt modern practices and sustain them over time.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
