---
layout: layouts/base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<div id="main-content" class="usa-layout-docs usa-section">
  <main>
    <div class="grid-container">
      <div class="grid-row grid-gap">
        {% if sidenav == true %}
        {% include "sidenav.html" %}
        {% endif %}

        <div class="usa-layout-docs__main grid-col-12 desktop:grid-col-7 usa-prose">
          {{ content }}
        </div>
        <div class="grid-col-12 desktop:grid-offset-1 desktop:grid-col-4 margin-top-4 desktop:margin-top-3">
          <div class="bg-primary-dark text-white padding-3 usa-dark-background">
            <h2 class="font-heading-lg text-normal text-white margin-y-0 padding-y-0">Designations</h2>
            <ul class="usa-list font-body-xs margin-top-3">
<li>Native-Owned</li>
<li>Veteran-Led</li>
<li>Senior Technologists</li>
<li>Eligible for Indian Incentive Program</li>
<li>Active <a href="http://SAM.gov">SAM.gov</a> Registration</li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </main>
</div>